# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# IDEs
.idea/
.vscode/
*.swp

# Binaries
bin/
diverge
manager

# Nix / direnv
.direnv/
result

# OS
.DS_Store
